body{
    background-color: #777777; 
}
    /* Grid background and padding */
.row{
    background-color: #ffffff;
    padding: 15px;
}
    /* Portfolio h2 */
.heading-1{
    padding: 15px 0 0 15px;
}
    /* index h2 */
.heading-2{
    padding: 15px 0 0 15px;
}
    /* contact h2 */
.heading-3{
    padding: 0 0 15px 0;
    color: #ffffff;
}
    /* Form headings */
.form-group{
    color: #ffffff;
}

    /* Portfolio work captions */
h3 {
    position: absolute;
    bottom: 20px;
    width: 92%;
    padding: 15px;
    margin-top: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
  }